/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require header
 */
body { padding-top: 60px; color: #651A1A}
footer { margin-top: 100px;}
table, td, th { vertical-align: middle; border: 1px solid red; padding: 10px}
th { border-bottom: 1px solid #DDD; }
.container h1 {padding-left: 35%;
               font-size: 60px;
}